.person-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.button-table{
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}